:root {
  --primary-color: #fefefe;
  --accent-color: #273da4;
  --link-color: #acdeff;
  --link-examples-color: #453ddb;
  --link-color_hover: #f8f9fa;
  --text-color: #242424;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  line-height: 1.5rem;
}

p + p {
  margin-top: 16px;
}

article {
  margin-top: 2rem;
}

em {
  font-weight: bold;
  color: orange;
}

strong {
  font-weight: bold;
}

dl {
  padding: 16px;
  border: 3px double #ccc;
  line-height: 1.5rem;
}

dt {
  font-weight: bold;
  color: orange;
}

dt::after {
  content: ":";
}

dd + dt {
  margin-top: 16px;
}

code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  white-space: pre-wrap;
}

a,
a:visited {
  color: var(--link-examples-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.primary-page {
  color: white;
  background-color: var(--accent-color);
}

.example-page {
  padding: 16px;
}

.primary-page h1 {
  color: #fefefe;
  font-size: 36px;
  font-weight: bold;
}

.primary-page a {
  color: var(--link-color);
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.bullet-list {
  list-style-type: circle;
}

.bullet-list li {
  line-height: 1.5rem;
}

.answers-list {
  list-style-type: circle;
}

.answers-list li + li {
  margin-top: 16px;
}

.answers-list a,
.answers-list a:visited {
  color: var(--link-color);
  margin-left: 8px;
  text-decoration: none;
}

.answers-list a:hover,
.answers-list a:focus {
  color: var(--link-color_hover);
  text-decoration: underline;
}

.answers-list a::before {
  content: "\2192";
  margin-right: 4px;
  text-decoration: none;
}

/* Topic Page */
.lesson-example {
  border: 1px dashed gray;
  padding: 8px;
  margin-top: 32px;
}

.mt-xs {
  margin-top: 16px;
}

.mt-md {
  margin-top: 32px;
}

.mt-lg {
  margin-top: 64px;
}

.note {
  background: lightblue;
  border: 1px solid #79abbb;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 16px;
}
